@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.header{
    padding: 30px 0px;
}

.header h1{
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 50px;
}

.inputBox{
    border: 1px solid;
    height: 200px;
    position: relative;
    border-style: dashed;
    border-radius: 3px;
    overflow: hidden;

}

.inputBox input{
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

.inputOverlay{
    top: 0;
    z-index: -1;
    background-color: #E0EDF1;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}

.inputOverlay i{
    font-size: 40px;
    color: #1D57F3;
}

.inputOverlay span{
    color: #1D57F3;
    font-size: 13px;
}






.result{
    position: relative;
}


.result-area{
    max-width: 600px;
    height: 200px;
    width: 600px;
    padding: 10px 10px;
    background-color: #E0EDF1;
    border-radius: 5px;
    margin-bottom: 50px;
    overflow-y: scroll;
    position: relative;
}

.result-area p{
    color: #212121;
}

.result button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1D57F3;
    font-size: 16px;
    position: absolute;
    bottom: 60px;
    right: 25px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.result button:hover{
    color: #212121;
}


.result-header{
    display: flex;
    justify-content: center;
}

.result-header span{
    color: #1D57F3;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
}

.inputOverlay img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.reload{
    display: none;
    padding: 10px 10px; 
    background-color: #1D57F3; 
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.loader {
    display: none;
    position: relative;
    width: 64px;
    height: 64px;
    background: #222b32;
    border-radius: 50%;
    overflow: hidden;
  }
  .loader:after{
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #fff;
     border-radius: 50%;
  }
  .loader:before{
    content: '';
    position: absolute;
    inset: 0px;
    margin: auto;
    background: #1D57F3;
    animation: crlMugLoader 2s linear infinite alternate;
  }
  @keyframes crlMugLoader {
    0%  ,10% { transform: translateY(64px) }
    90% , 100% { transform: translateY(0px) }
  }
      